@font-face{
    font-family: 'DancingScript-Regular';
    src: url(../fonts/DancingScript-Regular.ttf)
}

@font-face{
    font-family: 'Dosis-Bold';
    src: url(../fonts/Dosis-Bold.ttf)
}

@font-face{
    font-family: 'Mukta-Regular';
    src: url(../fonts/Mukta-Regular.ttf)
}

@font-face{
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf)
}